<div class="uk-section uk-padding-remove">
  <div class="uk-cover-container uk-text-center">
    <video src="https://media.githubusercontent.com/media/la-chevre-grisette/art/main/videos/background.mp4"
  autoplay loop muted playsinline uk-cover></video>
    <div id="title-card" class="uk-inline">
      <a href="/"><img width="400" alt="La Chèvre Grisette" src="https://media.githubusercontent.com/media/la-chevre-grisette/art/main/images/logo.png" /></a>

    <h2>Elevage de chèvres de Lorraine <i class="accent">&</i> fromagerie fermière bio</h2>

    <h3 class="manuscrit">Vente directe - visite de la ferme</h3>
    </div>
  </div>
</div>
