{{ define "main" }}
<div class="uk-section uk-section-secondary uk-padding-remove-vertical" uk-height-viewport>
  <div class="uk-container uk-container-xsmall uk-text-center uk-position-center">
    <h1>{{ site.Title }}</h1>
    <h2>Elevage de chèvres de Lorraine & fromagerie fermière bio</h2>
    <h3>Vente directe - visite de la ferme</h3>
  </div>
</div>

<div class="uk-section uk-section-muted uk-padding-remove-vertical" uk-height-viewport>
  <div class="uk-child-width-expand@s" uk-grid>
    <div>
      <img src="https://placehold.co/2000" />
    </div>
    <div>
      <div class="uk-container uk-padding-large">
        <p>Située sur les hauteurs d’Echavanne en Haute-Saône (70), à 20 minutes de Belfort (90), <strong>La chèvre Grisette</strong> est un élevage de chèvres de Lorraine certifié en agriculture biologique.</p>

        <p>Des fromages au lait cru et des yaourts sont produits sur place avec le lait des chèvres. Tous les chevreaux nés à la ferme sont élevés sous les mères. De la viande de chevreau est disponible selon la saison.</p>

        <p>Ici, le cycle naturel des naissances chez la chèvre est respecté, tant par la saisonnalité que par les saillies naturelles des boucs. Les produits ne sont pas disponibles toute l'année.</p>
      </div>
    </div>
  </div>
</div>
{{ end }}
